<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216059000449-o252itec6j1v502k5uopon16llg8g88g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216059000449-o252itec6j1v502k5uopon16llg8g88g</string>
	<key>API_KEY</key>
	<string>AIzaSyDmTJjHPhIgm-EVJSy7wN4NOMncGZalMEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>216059000449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibits.glaxybuilders</string>
	<key>PROJECT_ID</key>
	<string>galaxy-realtors-builders</string>
	<key>STORAGE_BUCKET</key>
	<string>galaxy-realtors-builders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216059000449:ios:1a9dede8d2689ee14abf80</string>
</dict>
</plist>